<section class="about-container">
  <div class="container">
    <div class="for-backgroung">
      <div class="about-content">
        <h2 class="about-title">About us</h2>
        <h3 class="about-second-title">
          Our сraftsmanship: сreating unique handmade furniture
        </h3>
        <p class="about-text">
          Discover the inspiration behind our modern and minimalist designs, and
          see how we bring them to life through our skilled craftsmanship.
        </p>

        <ul class="prefer-list">
          <li class="prefer-item">
            <h3 class="prefer-title">5+</h3>
            <p class="prefer-text">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li class="prefer-item">
            <h3 class="prefer-title">100%</h3>
            <p class="prefer-text">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li class="prefer-item">
            <h3 class="prefer-title">500+</h3>
            <p class="prefer-text">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <picture class="about-picture">
    <!-- Desktop screen -->
    <source
      media="(min-width: 1440px)"
      srcset="./img/about-desk-1x.jpg 1x, ./img/about-desk-2x.jpg 2x"
      type="image/jpg"
    />
    <!-- Tablet screen -->
    <source
      media="(min-width: 768px)"
      srcset="./img/about-tab-1x.jpg 1x, ./img/about-tab-2x.jpg 2x"
      type="image/jpg"
    />
    <!-- Mobile screen -->
    <source
      class="mob-picture"
      media="(min-width: 320px)"
      srcset="./img/about-mob-1x.jpg 1x, ./img/about-mob-2x.jpg 2x"
      type="image/jpg"
    />
    <img
      class="card-img"
      src="./img/about-mob-1x.jpg"
      alt="sofa"
      loading="lazy"
      width="767"
    />
  </picture>
</section>
