<section class="bestsellers">
    <h2 class="best-head-title">Bestsellers</h2>
    <div class="best container">
        <ul class="best-list">  
            <li class="best-item">
                <picture>
                    <source srcset="./img/best1-desk-1x.jpg 1x, ./img/best1-desk-2x.jpg 2x" 
                    media="(min-width: 1440px)"/>
                    <source srcset="./img/best1-tab-1x.jpg 1x, ./img/best1-tab-2x.jpg 2x"
                    media="(min-width: 768px)"/> 
                    <source srcset="./img/best1-mob-1x.jpg 1x, ./img/best1-mob-2x.jpg 2x"
                    media="(max-width: 767px)"/>
                    <img src="./img/best1-tab-1x.jpg" width="704" class="best-img" alt="Bed" />
                </picture>
                <h3 class="best-title">The modern platform bed</h3>
                <p class="best-text">750$</p>
            </li>
            <li class="best-items">
                <picture>
                <source srcset="./img/best2-desk-1x.jpg 1x, ./img/best2-desk-2x.jpg 2x"
                media="(min-width: 1440px)"/>
                <source srcset="./img/best2-tab-1x.jpg 1x, ./img/best2-tab-2x.jpg 2x"
                media="(min-width: 768px)"/>
                <source srcset="./img/best2-mob-1x.jpg 1x, ./img/best2-mob-2x.jpg 2x"
                media="(min-width: 320px)"/>
                <img src="./img/best2-mob-1x.jpg" width="343"  class="best-img" alt="Chairs" />
                </picture>
                <h3 class="best-title">The Cozy Lounge Chair</h3>
                <p class="best-text">230$</p>
            </li>
            <li class="best-items">
                <picture>
                    <source srcset="./img/best3-desk-1x.jpg 1x, ./img/best3-desk-2x.jpg 2x"
                    media="(min-width: 1440px)" />
                    <source srcset="./img/best3-tab-1x.jpg 1x, ./img/best3-tab-2x.jpg 2x" 
                    media="(min-width: 768px)" />
                    <source srcset="./img/best3-mob-1x.jpg 1x, ./img/best3-mob-2x.jpg 2x" 
                    media="(min-width: 320px)"/>
                    <img src="./img/best3-mob-1x.jpg" width="343" class="best-img" alt="Chair" />
                </picture>
                <h3 class="best-title">The industrial accent chair</h3>
                <p class="best-text">250$</p>
            </li>
            <li class="best-items">
                <picture>
                  <source srcset="./img/best4-desk-1x.jpg 1x, ./img/best4-desk-2x.jpg 2x"
                  media="(min-width: 1440px)" />
                  <source srcset="./img/best4-tab-1x.jpg 1x, ./img/best4-tab-2x.jpg 2x"
                  media="(min-width: 768px)" />
                  <img src="./img/best4-desk-1x.jpg" width="343" class="best-img" alt="Stand" />
                </picture>
                <h3 class="best-title">The sleek stand</h3>
                <p class="best-text">300$</p>
            </li>
            <li class="best-items ">
            <picture>
                <source srcset="./img/best5-desk-1x.jpg 1x, ./img/best5-desk-2x.jpg 2x" 
                media="(min-width: 1440px)" />
                <source srcset="./img/best5-tab-1x.jpg 1x, ./img/best5-tab-2x.jpg 2x" 
                media="(min-width: 768px)" />
                <img src="./img/best5-desk-1x.jpg" width="343"  class="best-img" alt="Sofa" />
            </picture>
                <h3 class="best-title">The minimalist sofa</h3>
                <p class="best-text">650$</p>
            </li>
        </ul>
    </div>
</section>
