<section class="bestsellers">
    <h2>Bestsellers</h2>
    <div class="best">
        <ul class="best-list">
            <li class="best-item">
                <picture>
                    <source srcset="../img/best1-desk-1x.jpg 1x, ../img/best1-desk-2x.jpg 2x" 
                    media="(min-width: 1440px)"/>
                    <source srcset="../img/best1-tab-1x.jpg 1x, ../img/best1-tab-2x.jpg 2x"
                    media="(min-width: 768px)"
                    /> 
                    <source srcset="../img/best1-mob-1x.jpg 1x, ../img/best1-mob-2x.jpg 2x"
                    media="(min-width: 320px)" 
                    />
                    <img src="../img/best1-desk-1x.jpg" width="704" class="best-img" alt="Bed">
                </picture>
                <h3 class="best-title">The modern platform bed</h3>
                <p class="best-text">750$</p>
            </li>
            <img src="" alt="">
            <li class="best-item">
                <h3 class="best-title">The Cozy Lounge Chair</h3>
                <p class="best-text">230$</p>
            </li>
            <li class="best-item">
            <img src="" alt="">
                <h3 class="best-title">The industrial accent chair</h3>
                <p class="best-text">250$</p>
            </li>
            <li class="best-item">
            <img src="" alt="">
                <h3 class="best-title">The sleek stand</h3>
                <p class="best-text">300$</p>
            </li>
            <li class="best-item">
            <img src="" alt="">
                <h3 class="best-title">The minimalist sofa</h3>
                <p class="best-text">650$</p>
            </li>
        </ul>
    </div>
</section>
