<section id="reviews" class="clients">
  <div class="container">
    <h2 class="clients-title">Clients reviews</h2>
    <ul class="clients-list">
      <li class="clients-item">
        <div class="clients-subtitle-div">
          <img
            srcset="./img/Alexandra-1x.png 1x, ./img/Alexandra-2x.png 2x"
            src="./img/Alexandra-1x.png"
            alt="Alexandra dream"
            width="48"
            height="48"
            class="clients-img"
          />
          <div class="clients-subtitle-div-text">
            <h3 class="clients-subtitle">Alexandra Dream</h3>
            <p class="clients-subtitle-text">1 week ago</p>
          </div>
        </div>
        <p class="clients-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="clients-item clients-tab">
        <div class="clients-subtitle-div">
          <img
            srcset="./img/James-1x.png 1x, ./img/James-2x.png 2x"
            src="./img/James-1x.png"
            alt="James Williams"
            width="48"
            height="48"
            class="clients-img"
          />
          <div class="clients-subtitle-div-text">
            <h3 class="clients-subtitle">James Williams</h3>
            <p class="clients-subtitle-text">A week ago</p>
          </div>
        </div>
        <p class="clients-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="clients-item clients-mob">
        <div class="clients-subtitle-div">
          <img
            srcset="./img/Emily-1x.png 1x, ./img/Emily-2x.png 2x"
            src="./img/Emily-1x.png 1x"
            alt="Emily Watson"
            width="48"
            height="48"
            class="clients-img"
          />
          <div class="clients-subtitle-div-text">
            <h3 class="clients-subtitle">Emily Watson</h3>
            <p class="clients-subtitle-text">3 week ago</p>
          </div>
        </div>

        <p class="clients-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
