<footer class="footer">
    <div class="footer-container container">
    <div class="footer-top">
        <a class="footer-logo link" href="./index.html"
            aria-label="logo"
            target="_blank"
            >
            <svg class="logo-icon" width="100" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <ul class="footer-socials list">
            <li class="footer-socials-item">
                <a class="footer-socials-link link" href="https://uk-ua.facebook.com/" aria-label="facebook" target="_blank">
                    <svg class="footer-socials-icon" width="28" height="28">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-socials-item">
                <a class="footer-socials-link link" href="https://www.instagram.com/" aria-label="instagram" target="_blank">
                    <svg class="footer-socials-icon" width="28" height="28">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-item">
                <a class="socials-link link" href="https://www.youtube.com/" aria-label="youtube" target="_blank">
                    <svg class="footer-socials-icon" width="28" height="28">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
        <ul class="footer-menu-list list">
            <li class="footer-menu-item">
                <a class="footer-menu-link link" href="./about.html">About us</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link link" href="./products.html">Our products</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link link" href="./price.html">Prices</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link link" href="./bestsellers.html">Bestsellers</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link link" href="./clients.html">Reviews</a>
            </li>
        </ul>
        <address class="footer-addres">
            <ul class="footer-addres-list list">
                    <li class="footer-addres-item">
                        <a class="footer-addres-link link"
                        href="https://www.google.com/maps/place/%D0%BC%D0%B5%D1%82%D1%80%D0%BE+%D0%9F%D0%BE%D1%87%D0%B0%D0%B9%D0%BD%D0%B0,+%D0%9E%D0%B1%D0%BE%D0%BB%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF.,+14,+%D0%9A%D0%B8%D0%B5%D0%B2,+01001/@50.4863141,30.4956738,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cdd36d2177f5:0x86c4d643ee824412!8m2!3d50.4863107!4d30.4982487!16s%2Fg%2F11h88bn19p?entry=ttu"
                        target="_blank">Obolonsky Prospect, 14, Kyiv</a>
                    </li>
                    <li class="footer-addres-item footer-addres-link">
                        Daily 10:00-21:00
                    </li>
            </ul>
            <ul class="footer-contacts-list list">   
                <li class="footer-addres-item">
                    <a class="footer-addres-link link" href="tel:+380669384758">+380669384758</a>
                </li>
                <li class="footer-addres-item">
                    <a class="footer-addres-link link" href="tel:+380679384758">+380679384758</a>
                </li>
                <li class="footer-addres-item">
                    <a class="footer-addres-link link mail-hidden" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a>
                </li>
            </ul>
        </address>
        <p class="footer-text">By using this website, you agree to the <a href="#" class="privacy-link">Terms of Service</a> and 
            <a href="#" class="privacy-link">Privacy Policy</a></p>
    </div>
</footer>
