<header>
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo-link">
        <svg width="100" height="16" class="header-logo-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button type="button" class="btn-burger-menu" data-menu-open>
        <svg width="32" height="32" class="icon-burger-menu">
          <use href="./img/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <ul class="header-nav-menu">
        <li class="nav-menu-item">
          <a href="@" class="nav-menu-link">About us</a>
        </li>
        <li class="nav-menu-item">
          <a href="#products" class="nav-menu-link">Our products</a>
        </li>
        <li class="nav-menu-item">
          <a href="@" class="nav-menu-link">Prices</a>
        </li>
        <li class="nav-menu-item">
          <a href="#bestsellers" class="nav-menu-link">Bestsellers</a>
        </li>
        <li class="nav-menu-item">
          <a href="#reviews" class="nav-menu-link">Reviews</a>
        </li>
        <li class="nav-menu-item">
          <a href="#footer" class="nav-menu-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="mob-menu is-hidden" data-menu>
      <div class="mob-container">
        <a href="./index.html" class="header-logo-link">
          <svg width="100" height="16" class="header-logo-icon">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <button type="button" class="btn-burger-menu" data-menu-close>
          <svg width="32" height="32" class="icon-burger-menu">
            <use href="./img/icons.svg#icon-close-btn"></use>
          </svg>
        </button>
      </div>
      <ul class="mob-nav-menu">
        <li class="mob-menu-item">
          <a href="@" class="mob-menu-link">About us</a>
        </li>
        <li class="mob-menu-item">
          <a href="#products" class="mob-menu-link">Our products</a>
        </li>
        <li class="mob-menu-item">
          <a href="@" class="mob-menu-link">Prices</a>
        </li>
        <li class="mob-menu-item">
          <a href="#bestsellers" class="mob-menu-link">Bestsellers</a>
        </li>
        <li class="mob-menu-item">
          <a href="#clients" class="mob-menu-link">Reviews</a>
        </li>
        <li class="mob-menu-item">
          <a href="#footer" class="mob-menu-link">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
