<section class="price">
  <div class="price-container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
    <div class="product-item">
      <p class="product-title">chairs</p>
      <p class="product-price">from 200&#8372;</p>
    </div>
    <div class="product-item">
      <p class="product-title">tables</p>
      <p class="product-price">from 250&#8372;</p>
    </div>
    <div class="product-item">
      <p class="product-title">dressers</p>
      <p class="product-price">from 300&#8372;</p>
    </div>
    <div class="product-item">
      <p class="product-title">sofas</p>
      <p class="product-price">from 500&#8372;</p>
    </div>
  </div>
</section>
