<section class="price" id="price">
  <div class="container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
    <ul class="product-list">
      <li class="product-item">
        <p class="product-title">chairs</p>
        <p class="product-price">from 200&#8372;</p>
      </li>
      <li class="product-item">
        <p class="product-title">tables</p>
        <p class="product-price">from 250&#8372;</p>
      </li>
      <li class="product-item">
        <p class="product-title">dressers</p>
        <p class="product-price">from 300&#8372;</p>
      </li>
      <li class="product-item">
        <p class="product-title">sofas</p>
        <p class="product-price">from 500&#8372;</p>
      </li>
    </ul>
  </div>
</section>
