<section id="products" class="products">
  <div class="container">
    <h2 class="products-title">Our Products</h2>
    <ul class="products-list">
      <li class="products-list-item">
        <picture>
          <source
            srcset="
              ./img/products1-desk-1x.jpg 1x,
              ./img/products1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/products1-tab-1x.jpg 1x,
              ./img/products1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/products-mob-1x.jpg 1x, ./img/products-mob-2x.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./img/products1-tab-1x.jpg" alt="storage" width="344" />
        </picture>
        <h3 class="products-subtitle">Minimalist storage solutions</h3>
      </li>
      <li class="products-list-item tab">
        <picture>
          <source
            srcset="
              ./img/products2-desk-1x.jpg 1x,
              ./img/products2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/products2-tab-1x.jpg 1x,
              ./img/products2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/products2-tab-1x.jpg" alt="sofa" width="344" />
        </picture>
        <h3 class="products-subtitle">Handcrafted minimalist seating</h3>
      </li>
      <li class="products-list-item desk">
        <img
          srcset="
            ./img/products3-desk-1x.jpg 1x,
            ./img/products3-desk-2x.jpg 2x
          "
          src="./img/products3-desk-1x.jpg"
          alt="table"
          width="312"
          height="300"
        />
        <h3 class="products-subtitle">Sleek and simple tables</h3>
      </li>
      <li class="products-list-item desk">
        <img
          srcset="
            ./img/products4-desk-1x.jpg 1x,
            ./img/products4-desk-2x.jpg 2x
          "
          src="./img/products4-desk-1x.jpg"
          alt="chair"
          width="312"
          height="300"
        />
        <h3 class="products-subtitle">Minimalist seating for every space</h3>
      </li>
    </ul>
  </div>
</section>
