<section class="newsletter">
    <div class="container">
      <div class="text-input-box">
        <h4 class="title">Newsletter</h4>
        <p class="text">
          Every week we will send you new designs and information about sales.
        </p>
        <form class="form-box" id="form">
          <div class="form-input-box">
            <input
              type="text"
              id="name"
              class="form-input"
              placeholder="Name"
            >
            <svg class="error-icon error-icon-name">
              <use href=""></use>
            </svg>
          </div>
          <div class="form-input-box">
            <input
              type="text"
              id="email"
              class="form-input"
              placeholder="E-mail"
            >
            <svg class="error-icon error-icon-email">
              <use href="../img/icons.svg#icon-check"></use>
            </svg>
          </div>
          <label class="checkbox-box">
            <input type="checkbox" class="checkbox" id="formAgreement">
            <span class="fake"></span>
            <span class="text">Agree to subscribe to the newsletter</span>
          </label>
          <button type="submit" class="btn-send">Send</button>
        </form>
      </div>
      <div class="image-box">
        <img src="../img/sub-desk-2x.jpg" alt="poster newsletter">
      </div>
    </div>
  </section>