.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
.bestsellers {
  padding: 64px 0;
}
.best-head-title {
  color: var(--primary-color, #0a224a);
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 21px;
}
.best-title {
  color: var(--primary-color, #0a224a);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 14px;
}
.best-text {
  color: var(--primary-color, #0a224a);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .bestsellers {
    padding: 100px 0;
  }
  .best-head-title {
    color: var(--primary-color, #0a224a);
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
  .bestsellers {
    padding: 100px 0;
  }
}
