.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
.bestsellers {
  padding-bottom: 64px;
}
.best-head-title {
  color: var(--primary-color, #0a224a);
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 21px;
}
.best-title {
  color: var(--primary-color, #0a224a);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 14px;
}
.best-text {
  color: var(--primary-color, #0a224a);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 10px;
}
.mob-div {
  display: none;
}
.best-item {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .bestsellers {
    padding-bottom: 100px;
  }
  .best-head-title {
    font-size: 32px;
    line-height: 1.4;
    padding-bottom: 30px;
  }
  .best-item {
    padding-bottom: 32px;
  }
  .best-title {
    font-size: 18px;
    padding-top: 15px;
  }
  .best-text {
    font-size: 18px;
  }
  .tab-div {
    display: flex;
    gap: 32px;
  }
  .mob-div {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
  .bestsellers {
    padding-bottom: 100px;
  }

  .best-list {
    display: flex;
  }
  .best-item {
    padding-bottom: 0;
  }

  .desk-div {
    display: flex;
    flex-direction: column;
    gap: 30px 20px;
    padding-left: 24px;
  }
}
