.clients {
  padding: 36px 0;
  background-color: #f7faff;
}

.clients-title {
  color: #0a224a;
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.clients-item {
  max-width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.clients-subtitle {
  color: #0a224a;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77;
  text-transform: uppercase;
}
.clients-subtitle-text {
  color: #0a224a;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
}

.clients-text {
  color: #0a224a;
  font-size: 14px;
  line-height: 1.42;
}

.clients-subtitle-div {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}
.clients-subtitle-div-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}
.clients-tab {
  display: none;
}
.clients-mob {
  display: none;
}

@media screen and (min-width: 768px) {
  .clients-title {
    font-size: 32px;
    line-height: 1.4;
  }
  .clients-subtitle {
    font-size: 20px;
    line-height: 2.25;
  }
  .clients-subtitle-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .clients-subtitle-div {
    margin-bottom: 14px;
  }

  .clients-text {
    font-size: 18px;
    line-height: 1.5;
  }
  .clients-tab {
    display: flex;
    flex-direction: column;
  }
  .clients-list {
    display: flex;
    gap: 16px;
  }
  .clients-item {
    width: calc((100% - 16px) / 2);
  }
  .clients-img {
    width: 56px;
    height: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .clients {
    padding: 60px 0;
  }
  .clients-subtitle-div {
    margin-bottom: 16px;
  }
  .clients-mob {
    display: flex;
    flex-direction: column;
  }
  .clients-item {
    width: calc((100% - 48px) / 3);
    padding: 32px;
  }
  .clients-list {
    gap: 24px;
  }
}
