.price-container {
  padding: 64px 16px;
}

.product-item {
  padding: 30px 0;
  border-top: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item:last-child {
  border-bottom: 1px solid var(--primary-color);
}

.product-title {
  color: var(--primary-color);
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.product-title::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: 500ms ease-in-out;
}

.product-title:hover::before {
  content: '';
  width: 24px;
  height: 2px;
  background-color: var(--primary-color);
}

.product-price {
  color: var(--primary-color);
  text-align: right;
  font-weight: 700;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .price-container {
    max-width: 768px;
    padding: 100px 32px;
  }

  .product-title {
    font-size: 32px;
    line-height: 1.4;
  }

  .product-price {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price-container {
    max-width: 1440px;
    padding: 100px 172px;
  }
}
